body {
  background-color: #6eacfc;
}

.header {
  background-color: #bef7ff;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

.txt {
  text-align-last: center;
  font-family: sans-serif;
  font-size: 45px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box1 {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: 10px;
  border: 5px solid black;
  background-color: #65c4f0;
}

.box2 {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: 10px;
  border: 5px solid black;
  background-color: #13c9c9;
}

.box3 {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: 10px;
  border: 5px solid black;
  background-color: #a59ef3;
}

